<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="fullName">FullName</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            required
            [(ngModel)]="iuser.fullName"
            name="fullName"
          />
        </div>
  
        <div class="form-group">
          <label for="billingAddress">Billing Address</label>
          <input
            class="form-control"
            id="billingAddress"
            required
            [(ngModel)]="iuser.billingAddress"
            name="billingAddress"
          />
        </div>
  
        <button (click)="saveIUser()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newIUser()">Add</button>
      </div>
    </div>
  </div>