<h2 class="form">Create transaction</h2>
<hr>
<div class="form">
    <form [formGroup]="transactionForm" (ngSubmit)="submitForm(transactionForm.value)">
        <div class="form-group">
            <label for="cards">Cards Client</label>
            <select id="cards" class="form-control" formControlName="cards"> 
                <option *ngFor="let card of cardsAccount;let i=index"
                [value]="card.cardNumber" id="card.cardNumber">
                {{card.cardNumber}}
            </option>
            </select>
        </div>
        <div class="error-message" *ngIf="cards.errors?.['required']">Cards Client is required</div>

        <div class="form-group" *ngIf="privateKey ; else prikazCvc">
        </div>
        <ng-template #prikazCvc>
            <label for="cvc">CVC </label>
            <input type="number" minlength="3" maxlength="3" id="cvc" class="form-control" formControlName="cvc"> 
            <div class="error-message" *ngIf="cvc.errors?.['required']">CVC is required</div>
        </ng-template>
        

        <div class="form-group" *ngIf="privateKey ; else prikazPin">
        </div>

        <ng-template #prikazPin>
            <label for="pin">PIN </label>
            <input type="number" minlength="4" maxlength="4"  id="pin" class="form-control" formControlName="pin"> 
            <div class="error-message" *ngIf="pin.errors?.['required']">PIN is required</div>
        </ng-template>

        

        <div class="form-group">
            <label for="accountTo">Account To</label>
            <input type="text"id="accountTo" class="form-control" formControlName="accountTo"> 
        </div>
        <div class="error-message" *ngIf="accountTo.errors?.['required']">Account To is required</div>
        
        <div class="form-group">
            <label for="accountToName">Account To Name</label>
            <input type="text" id="accountToName" class="form-control" formControlName="accountToName">
        </div>
        <div class="error-message" *ngIf="accountToName.errors?.['required']">Account To Name is required</div>
        
        <div class="form-group">
            <label for="accountToBillingAdress">Account To Billing Adress</label>
            <input type="text" id="accountToBillingAdress" class="form-control" formControlName="accountToBillingAdress">
        </div>
        <div class="error-message" *ngIf="accountToBillingAdress.errors?.['required']">Account To Billing Adress is required</div>
        
        <div class="form-group">
            <label for="modelCode">Model Code</label>
            <input type="number" id="modelCode" class="form-control" formControlName="modelCode">
        </div>
        <div class="error-message" *ngIf="modelCode.errors?.['required']">Model Code is required</div>
        
        <div class="form-group">
            <label for="code">Code</label>
            <input type="number" id="code" class="form-control" formControlName="code">
        </div>
        <div class="error-message" *ngIf="code.errors?.['required']">Code is required</div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" formControlName="description">
        </div>
        <div class="error-message" *ngIf="description.errors?.['required']">Description is required</div>
        
        <div class="form-group">
            <label for="paymentPurpose">Payment Purpose</label>
            <input type="text" id="paymentPurpose" class="form-control" formControlName="paymentPurpose">
        </div>
        <div class="error-message" *ngIf="paymentPurpose.errors?.['required']">Payment Purpose is required</div>
        
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control" formControlName="amount">
        </div>
        <div class="error-message" *ngIf="amount.errors?.['required']">Amount is required</div>
        
        <div class="form-group">
            <label for="referenceNumber">Reference Number </label>
            <input type="number" id="referenceNumber" class="form-control" formControlName="referenceNumber">
        </div>
        <div class="error-message" *ngIf="referenceNumber.errors?.['required']">Reference Number is required</div>

        <br><button type="submit" class="btn btn-primary btn-block" [disabled]="!transactionForm.valid">Submit</button>
    </form>
</div>
