<div class="row">
    <div class="col-12">
        
        <nav class="navbar navbar-expand navbar-dark bg-dark">

            <img src="assets/bank.jpg" height="48" size="10" alt="Bank" [routerLink]="['/']">
            <div>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/test-sql']">Test Sql Injection</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li *ngIf="!loggedIn() && !loggedInAdmin()" class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">Register</a>
                    </li>
                    <li *ngIf="!loggedIn() && !loggedInAdmin()" class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Log in</a>
                    </li>
                    <li *ngIf="loggedIn() || loggedInAdmin()" class="nav-item">
                        <a class="nav-link" (click)="onLogOut()">Log out</a>
                    </li>
                    <li *ngIf="loggedIn() && !loggedInAdmin()" class="nav-item">
                        <a class="nav-link" [routerLink]="['/exchange-form']">Exchange</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
