<div class="container" *ngIf="transactionsAcc !== null">
    <app-transaction-spliter [transactionsAcc]="transactionsAcc">
    </app-transaction-spliter>
 </div>
 <div class="container" *ngIf="cardsAccount !== null">
    <app-card-spliter [cardsAccount]="cardsAccount">
    </app-card-spliter>
 </div>
<button *ngIf="account.blocked === false" class="btn btn-primary" [routerLink]="['/card']" >Create Card</button>
<button *ngIf="account.blocked === false" class="btn btn-primary" [routerLink]="['/transaction-form']" >Create Transaction</button>
<button *ngIf="account.blocked === false" class="btn btn-primary" [routerLink]="['/create-account-form']" >Create Account</button>
<button *ngIf="account.blocked === false" class="btn btn-primary" [routerLink]="['/create-payment-form']" >Create Payment</button>
