<h2 class="form">Create card</h2>
<hr>
<div class="form">
    <form [formGroup]="cardForm" (ngSubmit)="submitForm(cardForm.value)">
        <div class="form-group">
            <label for="cardHolder">Card holder</label>
            <input id="cardHolder" class="form-control" formControlName="cardHolder" [(ngModel)]="cardHolder.userId.username" readonly> 
        </div>
        <div class="form-group">
            <label for="accNum">Account number</label>
            <input type="text" id="accNum" class="form-control" formControlName="accNum" [(ngModel)]="accNum.accountNumber" readonly>
        </div>
        <div class="form-group">
            <label for="cardType">Credit type</label>
            <select id="cardType" name="cardType" class="form-control" formControlName="cardType">
                <option value="DEBIT">DEBIT</option>
                <option value="CREDIT">CREDIT</option>
            </select>
        </div>
        <div class="error-message" *ngIf="cardType.errors?.['required']">Card type is required</div>
        <div class="form-group">
            <label for="cardProcessor">Processor</label>
            <select id="cardProcessor" name="cardProcessor" class="form-control" formControlName="cardProcessor">
                <option value="VISA">VISA</option>
                <option value="MASTER_CARD">MASTER CARD</option>
                <option value="AMERICAN_EXPRESS">AMERICAN EXPRESS</option>
            </select>
        </div>
        <div class="error-message" *ngIf="cardProcessor.errors?.['required']">Processor is required</div>
        <br><button type="submit" class="btn btn-primary btn-block" [disabled]="!cardForm.valid">Submit</button>
    </form>
</div>
