<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let card of cardsAccount; let i = index">
          <div *ngIf="i === currentSlide" >
            <table>
              <tr>
                <th>Card Holder</th>
                <th>Card Number</th>
                <th>Valid Until</th>
                <th>Card Processor</th>
                <th>Card Type</th>
              </tr>
              <tr>
                <td>{{card.cardHolder}}</td>
                <td>{{card.cardNumber}}</td>
                <td>{{card.validUntil}}</td>
                <td>{{card.cardProcessor}}</td>
                <td>{{card.cardType}}</td>
              </tr>
            </table>
            </div>
     </ng-container>
      <!-- controls -->
      <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
      </button>
      <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
      </button>
    </div>

